<% title "Last URLs" %>

<h1>Last URLs</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Real Url</th>
        <th>Wee Url</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @url.each do |u| %>
        <tr>
          <td><%= truncate(u.url, length: 50) %></td>
          <td><%= link_to display_wee_url(u.slug.to_s), display_wee_url(u.slug.to_s), target: '_blank' %></td>
          <td><%= link_to 'Show', display_wee_url(u.slug.to_s), target: '_blank' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>